.ui-dialog {
    max-width: 95% !important;
    max-height: 95% !important;
    box-sizing: border-box;

    .ui-dialog-titlebar-close {
        display: none;
    }

    button {
        padding: 3px 10px 3px 10px;
    }

    #tat-terms-modal {
        overflow-y: auto;
        box-sizing: border-box;

        a {
            color: #0d6efd
        }

        input {
            margin: 3px 4px 3px 3px;
        }

        p {
            font-size: 16px;
            font-family: Verdana,Arial,sans-serif;
        }

        label {
            font-size: 16px;
        }

        ol {
            padding-left: 30px;
        }
    }
}