.ui-dialog {
    max-width: 95% !important;
    max-height: 95% !important;
    box-sizing: border-box;
}

/* Ensure the inner scrollable content updates cleanly */
.ui-dialog .ui-dialog-content {
    overflow-y: auto;
    box-sizing: border-box;
}

.ui-dialog .ui-dialog-titlebar-close {
    display: none;
}

.pandamusrex-tiesandtails-member-form-success {
    border: 2px solid green;
    padding: 8px;
    color: green;
    font-weight: bold;
}

.pandamusrex-tiesandtails-member-form-error {
    border: 2px solid red;
    padding: 8px;
    color: red;
    font-weight: bold;
}